<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/static/style.css" />
  </head>
  <body>
    <header>
      <h1>The Book Arc</h1>
    </header>
    <main>
      <section class="login-section">
        <form method="POST" action="/signup" class="login-form">
          <header>Sign Up</header>
          <label for="first_name">First Name:</label>
          <input
            type="text"
            id="first_name"
            class="input-field"
            name="first_name"
            placeholder="Enter your first name"
            required
          />

          <label for="last_name">Last Name:</label>
          <input
            type="text"
            id="last_name"
            class="input-field"
            name="last_name"
            placeholder="Enter your last name"
            required
          />

          <label for="email">Email:</label>
          <input
            type="email"
            id="email"
            class="input-field"
            name="email"
            placeholder="Enter your email"
            required
          />

          <label for="password">Password:</label>
          <input
            type="password"
            id="password"
            class="input-field"
            name="password"
            placeholder="Enter your password"
            required
          />

          <label for="confirm_password">Confirm Password:</label>
          <input
            type="password"
            id="confirm_password"
            class="input-field"
            name="confirm_password"
            placeholder="Confirm your password"
            required
          />

          <button type="submit" class="submit-btn">Sign Up</button>
          <p class="text-center">
            Already have an account? <a href="/">Log In</a>
          </p>
        </form>
      </section>
    </main>
  </body>
</html>
